<form action="">
  <div class="form-group">
    <input class="form-control" type="text" name="roomType" placeholder="Room Type">
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="amenities" placeholder="Amenities" >
  </div>

  <div class="form-group">
    <input class="form-control" type="number" name="price" placeholder="Price">
  </div>

  <div class="form-group">
    <input class="form-control" type="text" name="photos" placeholder="Photos (Provide link)">
  </div>

  <div class="form-group">
    <input class="form-control" type="datetime" name="checkinTime" placeholder="Check-in Time">
  </div>
  <div class="form-group">

  </div>

  <div class="form-group">
  <input class="form-control" type="datetime" name="checkoutTime" placeholder="Check-out Time">
  </div>

  <div class="form-group">
    <input class="form-control" type="number" name="rating" placeholder="Rating">
    </div>

  <div>

  </div>
</form>
