<h1>Welcome to {{hotelName}}</h1>
<div [hidden]="hideRooms">
  Number of Roos:
  <div [ngStyle]="{'color' : rooms.availableRooms ? 'steelblue' : 'red'}"
     [innerText]="numberOfRooms">
  <!-- document.getElementById('numberOfRooms').innerText = numberOfRooms; -->
</div>

{{rooms?.availableRooms ?? 'No rooms'}}

<!-- {{roomList | json}} -->

<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>

<div *ngIf="rooms.availableRooms > 0">
  <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toggle()">Hide</button>
